* {
    margin: 0;
    padding: 0;
}
header {
    font-size: xx-large;
    color: grey;
}
body {
    height: 100vh;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}
.calc {
    border: 5px solid grey;
    padding: 15px;
    border-radius: 5px;
}
.calc input {
    width: 110px;
    padding: 10px;
    font-size: 15px;
    border: none;
}
.calc button {
    margin: 5px 0;
    height: 30px;
    width: 30px;
    border: none;
}